<h3>スケジュール編集</h3>

<%= form_with model:@user do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  
  <table>
  <tr>
  <th><%= f.label :title,"タイトル" %></th>
  <td><%= f.text_field :title %></td>
  </tr>

  <tr>
  <th><%= f.label :aday,"開始日" %></th>
  <td><%= f.date_field :aday %></td>
  </tr>

  <tr>
  <th><%= f.label :zday,"終了日" %></th>
  <td><%= f.date_field :zday %></td>
  </tr>

  <tr>
  <th><%= f.label :end,"終日" %></th>
  <td><%= f.check_box :end,{},"◯","" %></td>
  </tr>

  <tr>
  <th><%= f.label :memo,"スケジュールメモ" %></th>
  <td><%= f.text_area :memo %></td>
  </tr>
  </table>

  <div>
  <ul>
  <li><%= f.submit"スケジュールの編集を完了する" %></li>
  <li><%= link_to "スケジュール一覧に戻る", :users %></li>
  </ul>
  </div>
  <% end %>