<h3>スケジュール詳細</h3>
 
<table>
  <tr>
    <th>タイトル</th>
    <td><%= @user.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @user.aday.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @user.zday.strftime('%Y年%m月%d日') %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><%= @user.end %></td>
  </tr>
  <tr>
  <th>スケジュールメモ</th>
  <td><%= @user.memo %></td>
</tr>
</table>

<div>
  <ul>
    <li><%= link_to "スケジュール情報一覧に戻る", :users %></li>
  </ul>
</div>
